
div.container
   {
    width: 100%;
	height:auto;
	max-width: 100%
   }

header
{
    background-color:#AFEEEE;
    clear: left;
	position: absolute;
    left:0px;
    top:0px;
    width:100%;
	text-color: black;

}
h3{
    color: black;
    font-size: 20px;
    padding-left: 2em;
    padding-top: 10px;
}

footer {
    padding: 5px;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
   
}
fieldset
{
    align:center;
    border-style:solid;
    border-width: medium;
    border-radius: 20px;
	position: relative;
    text-align: center;
	margin-top:150px;
	width:400px;
	height:auto;
	

}
input[type=text], select {
    width: 50%;
    padding: 5px 5px;
    margin: 5px 0;
    display: relative;
    border: 1px solid #ccc;
    border-radius:5px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 40%;
    background-color: #2B547E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #4863A0;
}
a:link, a:visited { 
    color: (internal value);
    text-decoration: none;
    cursor: auto;
}

a:link:active, a:visited:active { 
    color: (internal value);
}

.val_error{
	color: #FF1F1F;
}
